body{
    margin: 0;
    background-image: url(wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#clockContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color:white;
    backdrop-filter: blur(9px);
    border-radius: 15px;
    background-color: hsla(207, 6%, 61%, 0.192);
}



